# print function

In [1]:
print("Hello world")

Hello world

# print Different Data Types

In [2]:
#Integer
print(100)

100

In [3]:
#float
print(99.99)

99.99

In [4]:
#Boolean
print(True)

True

In [5]:
print(False)

False

In [6]:
#list
print([1,3,4,5])

[1, 3, 4, 5]

In [7]:
#Dictionary
print({"name":"Alice", "age": 20})

{'name': 'Alice', 'age': 20}

### print Multiple items

In [8]:
#multipule strings
print("Apple", "Banna","Cherry")

Apple Banna Cherry

In [9]:
#mixed data types
print("Age",30, "Height", 5.8)

Age 30 Height 5.8

In [10]:
#different data types together 
print(True, 100, "Python,[1,3,4,5]")

True 100 Python,[1,3,4,5]

## Using the 'sep' parameter

In [11]:
#Using comma as separator
print("pyhton", "is", "fun", sep=", ")

pyhton, is, fun

In [12]:
#using hyphen as separator
print("pyhton", "is", "fun", sep="_")

pyhton_is_fun

In [13]:
# using slash as separator
print("pyhton", "is", "fun", sep="/")

pyhton/is/fun

### Using the 'end' parameter

In [17]:
print("Hello", end=" ")
print("World")
print("python", end=" is ")
print("awesome!")

Hello World
python is awesome!

### Advanced Parameter 'file' and 'flush'

In [18]:
# Using the file parameter
print("this will go to standard error,", file= sys.stderr)

NameError: name 'sys' is not defined

In [19]:
print("Flushing the output buffer.", flush=True)

Flushing the output buffer.